body{
    margin: auto;
    padding: auto;
    box-sizing: border-box;
}

#container{
    display: block;
    margin: auto; 
    height: 500px;
    width: 400px;
}

img{
    height: 250px;
    width: 400px;
}
audio{
    display: block;
    margin: auto;
}
button{
    margin-left: 100px;
    margin-top: 24px;
    font-size: 24px;
    border: none;
}

